.aw-bostick-w {
	position: absolute;
	left: 300px;
	top: 300px;
	background-color: #fefeb4;
	cursor: move;
}

.aw-bostick-w .bd {
	padding: 5px;
	position: relative;
	width: 200px;
	height: 120px;
	margin: 3px;
	border: 1px dotted #000;
	cursor: text;
}

.aw-bostick-w .bd .bremove {
	cursor: pointer;
	position: absolute;
	right: 3px;
	top: 3px;
	background: url("/modules/bostick/images/remove.gif");
	width: 9px;
	height: 9px;
	display: none;
}

.aw-bostick-w:hover .mv .bremove {
	display: block;
}

.aw-bostick-w .bd .view {
	width: 100%;
	min-height: 1em;
	cursor: move;
}

.aw-bostick-w .bd .view,
.aw-bostick-w .bd textarea {
	width: 200px;
	height: 120px;
	padding: 0;
	font-family: Verdana,sans-serif,Arial,FreeSans;
	font-size: 12px;
	line-height: 1.1em;
	background-color: #fefeb4;
}
.aw-bostick-w .bd .view {
	overflow: hidden;
}
.aw-bostick-w .bd textarea {
	border: none;
}